<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title>Train</title>
</head>
<body class="trains">

    <h1>Train Express SGR</h1>

    <a href="/trains/new">Add a New Train to the List</a>
    <a href="/">Go Back Home</a>

    <% train.forEach(function(Train) { %>
        <p>
            <%= train.Train %> | <%= Train.station %> | 
            <%= train.TrainNo %> | <%= Train.departs %> |
            <a href="/trains/<%= Train._id %>">Details</a>
        </p>
   <% }) %>
</body>
</html>