<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <a href="/">Go Back Home</a>
    <a href="/trains">Back To Train Destinations</a>
    <a href="/trains/<%= train.id %>/tickets/new">Add a Ticket to this Train</a>
    <hr>
    <h3><%=train.expressSGR %></h3>
    <p><%= train.trainNo %></p>
    <p><%= train.departs %></p>
    <p><%= train.station %></p>
    
    <h5>Tickets Associated With This Train</h5>
    <% tickets.forEach(function(t) { %>
        <p><%= t.seat %></p>
        <p>$<%= t.price%></p>
    <% }) %>

    <% if(train.destinations.length > 0) { %>
        <% train.destinations.forEach(function(d) { %>
            <p><%= d.station %></p>
            <p><%= d.arrival %></p>
        <% }) %>
    <% } else { %>
        <p>There are no destinations for this Train</p>
    <% } %>
    <form action="/trains/<%= train._id %>/destinations" method="POST">
        <select name="station">
            <option value="Nairobi">Nairobi</option>
            <option value="Mombasa">Mombasa</option>
        </select>
        <input type="datetime-local" name="arrival">
        <input type="submit" value="Add Destination">
    </form>
        <form action="/trains/<%= train._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
    </form>
</body>
</html>